@import './colors';

.MainPage {
  .user-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 3rem;
    padding: .5rem 0;
    background-color: black;
    font-size: .9rem;

    img {
      align-self: center;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 1rem;
      border-radius: 50%;
    }

    .user-name {
      margin-right: 2rem;
      margin-left: .5rem;
      color: $white;
      font-size: 1rem;
      font-weight: bold;
    }

    a {
      padding: .125rem .5rem;
      border: 1px solid $orange;
      border-radius: .5rem;
      background-color: black;
      box-shadow: 2px 3px 0 0 $grey;
      text-decoration: none;
    }
  }

  h2 {
    font-size: 1.25rem;
    font-weight: normal;
  }
}
